extends layout 

block content 
    h1 #{title}: #{book.title}   

    if book_instances.length 

        p #[strong Delete the following instances before attempting to delete this book.]

        div(style='margin-left:20px;margin-top:20px')

            h4 Instances 

            dl 
            each instance in book_instances
                hr
                dt 
                a(href=instance.url) #{book.title}
                if instance.status=='Available'
                    dd.text-success #{instance.status} 
                else if instance.status=='Maintenance'
                    dd.text-danger #{instance.status} 
                else
                    dd.text-warning #{instance.status} 

                dd Due back: #{instance.due_back_formatted}

    else 
        p Do you really want to delete this book?

        form(method='POST' action='')
            div.form-group
                input#bookid.form-control(type='hidden',name='bookid', required='true', value=book._id )

            button.btn.btn-primary(type='submit') Delete  